@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Ubuntu+Mono&display=swap');

.font-noto {
    font-family: 'Noto Sans JP', sans-serif;
}

.text-monospace {
    font-family: 'Ubuntu Mono', monospace;
}

.map {
    height: calc(100% - 50px);
}