@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Ubuntu+Mono&display=swap');
.font-noto {
    font-family: 'Noto Sans JP', sans-serif;
}

.text-monospace {
    font-family: 'Ubuntu Mono', monospace;
}

.map {
    height: calc(100% - 55px);
    width: 100%;
}

.scale-hover {
    transition: transform 400ms;
}

.scale-hover:hover {
    transform: scale(1.2);
}

.table.table-centered th, .table.table-centered td {
    text-align: center;
}

.table.table-centered th {
    border: 0;
}

.align-right>td {
    text-align: right;
}

.btn-group.btn-group-toolbar .btn {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0;
    margin-right: 5px;
}

.btn-light:hover {
    background: linear-gradient(180deg, #e3e3e3, #ffffff);
}

.pointer {
    cursor: pointer;
    user-select: none;
}

.shadow-bottom {
    box-shadow: 0 2px 2px 2px rgba(60, 64, 67, 0.4);
}

.flex-agile {
    flex-direction: column;
}

@media (min-width: 991.98px) {
    .flex-agile {
        flex-direction: row;
    }
}